.transparentBtn {
  border-radius: 32px;
  border: 2px solid rgba(68, 144, 180, 0.50);
  background: transparent;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}