.stamp {
  margin-bottom: 100px;
}

.stamp__box {
  padding: 60px;
  border-radius: 40px;
  background-color: rgba(217, 239, 252, .15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7%;
}

.stamp__box-icon {
  filter: drop-shadow(0px 15px 40px rgba(31, 50, 80, 0.40));
}

.stamp__box-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stamp__box-content-title {
  line-height: 170%;
}

.stamp__box-content-text {
  color: rgba(141, 214, 202, 0.80);
  font-size: 18px;
  font-weight: 500;
}

.stamp__box-content-btnSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stamp__box-content-btnSection-btn--Colored {
  background: #06907B;
}

.transparentBtn.stamp__box-content-btnSection-btn--Transparent {
  gap: 10px;
  padding: 12px 20px;
}

.stamp__box-content-btnSection-btn--Transparent .stamp__box-content-btnSection-btn-text span:nth-child(1) {
  color: #8BAAC3;
}
.stamp__box-content-btnSection-btn--Transparent .stamp__box-content-btnSection-btn-text span:nth-child(2) {
  color: #FFFFFF;
}

.stamp__box-content-btnSection-btn-text {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  word-break: break-word;
}