.coloredBtn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  width: fit-content;
}

.coloredBtn-text {
  color: white;
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}